<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_address.user_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_address.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_address.city %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @user_address.address_street %>
</p>

<p>
  <strong>House num:</strong>
  <%= @user_address.house_num %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @user_address.postal_code %>
</p>

<%= link_to 'Edit', edit_user_address_path(@user_address) %> |
<%= link_to 'Back', user_addresses_path %>
