<%= form_with(model: pr_endurance) do |form| %>
  <% if pr_endurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pr_endurance.errors.count, "error") %> prohibited this pr_endurance from being saved:</h2>

      <ul>
        <% pr_endurance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :endurance %>
    <%= form.number_field :endurance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
