<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order_detail.user_id %>
</p>

<p>
  <strong>Cart item:</strong>
  <%= @order_detail.cart_item_id %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @order_detail.payment_type_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order_detail.payment_id %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @order_detail.completed %>
</p>

<p>
  <strong>Rejection:</strong>
  <%= @order_detail.rejection %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
