<%= form_with(model: pr_sub_category) do |form| %>
  <% if pr_sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pr_sub_category.errors.count, "error") %> prohibited this pr_sub_category from being saved:</h2>

      <ul>
        <% pr_sub_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sub_category %>
    <%= form.text_field :sub_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
