<p id="notice"><%= notice %></p>

<h1>Pr Sub Categories</h1>

<table>
  <thead>
    <tr>
      <th>Sub category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pr_sub_categories.each do |pr_sub_category| %>
      <tr>
        <td><%= pr_sub_category.sub_category %></td>
        <td><%= link_to 'Show', pr_sub_category %></td>
        <td><%= link_to 'Edit', edit_pr_sub_category_path(pr_sub_category) %></td>
        <td><%= link_to 'Destroy', pr_sub_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pr Sub Category', new_pr_sub_category_path %>
