<h1>Hello, Rails!</h1>
<%= link_to "Products", products_path %>
<%= link_to "Category", pr_categories_path %>
<%= link_to "SubCategory", pr_sub_categories_path %>
<%= link_to "County", pr_countries_path %>
<%= link_to "Brand", pr_brands_path %>
<%= link_to "Color", pr_colors_path %>
<%= link_to "Sweetness", pr_sweetnesses_path %>
<%= link_to "Classification", pr_classifications_path %>
<%= link_to "product inventory", product_inventories_path %>