<h1>Hello, Rails!</h1>
<div style="display:flex;justify-content:space-between;margin: 0em 5em;">
  <%= link_to "Products", products_path %>
  <%= link_to "Category", pr_categories_path %>
  <%= link_to "SubCategory", pr_sub_categories_path %>
  <%= link_to "Volume", pr_volumes_path %>
  <%= link_to "Alcohol", pr_alcohols_path %>
  <%= link_to "Endurance", pr_endurances_path %>
  <%= link_to "County", pr_countries_path %>
  <%= link_to "Brand", pr_brands_path %>
  <%= link_to "Color", pr_colors_path %>
  <%= link_to "Sweetness", pr_sweetnesses_path %>
  <%= link_to "product inventory", product_inventories_path %>
  <%= link_to "User_address", user_addresses_path %>
  <%= link_to "User payment", user_payments_path %>
  <%= link_to "Shopping_session", shopping_sessions_path %>
  <%= link_to "Payment type", payment_types_path %>
  <%= link_to "Order_details", order_details_path %>
  <%= link_to "Comments", comments_path %>
</div>
<div style="display:flex;color: #730E15; width: auto; height: 100px;">
  <% if user_signed_in? %>
    <div> Welcome <%= current_user.email %> </div>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= button_to "Sign in", new_user_session_path %>
  <% end %>
</div>
<div>
<%=  %>

</div>