<p id="notice"><%= notice %></p>
<h1>Your Cart</h1>
<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <p><%= product.pr_name %> * <%= orderable.quantity %> = $<%= product.price_for_client * orderable.quantity %></p>
<% end %>
<p>Your total is $<%= @cart.total %> </p>

<!--<p>-->
<!--  <strong>User:</strong>-->
  <%#= @cart.user_id %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Total:</strong>-->
  <%#= @cart.total %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_cart_path(@cart) %> |-->
<%#= link_to 'Back', carts_path %>
