<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shopping_session.user_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @shopping_session.total %>
</p>

<%= link_to 'Edit', edit_shopping_session_path(@shopping_session) %> |
<%= link_to 'Back', shopping_sessions_path %>
