<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_payment.user_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @user_payment.code %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @user_payment.cvv %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user_payment.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_payment.name %>
</p>

<%= link_to 'Edit', edit_user_payment_path(@user_payment) %> |
<%= link_to 'Back', user_payments_path %>
