<%= form_with(model: pr_alcohol) do |form| %>
  <% if pr_alcohol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pr_alcohol.errors.count, "error") %> prohibited this pr_alcohol from being saved:</h2>

      <ul>
        <% pr_alcohol.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :alcohol %>
    <%= form.text_field :alcohol %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
