<div class="row d-flex justify-content-start">
  <% @products.each do |product| %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <%= link_to(product) do %>
        <div class="product-card">
          <div class="product-thumb">
            <%= image_tag(product.images[0]) %>
          </div>
          <div class="product-details">
            <%= product.pr_name %>
            <%= product.pr_sub_category %>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <%= product.price_for_client %>₴
              </div>
              <div class="product-links">
                <a>
                  <% if user_signed_in? %>
                    <%= form_with(url: carts_add_path) do |f| %>
                      <%= f.hidden_field :id, value: product.id %>
                      <% if @cart.orderables.find_by(product_id: product.id) %>
                          <%= f.hidden_field :quantity, value: @cart.orderables.find_by(product_id: product.id).quantity + 1 %>
                        <% else %>
                          <%= f.hidden_field :quantity, value:  1 %>
                        <% end %>
                      <%= f.submit "В кошик!", :class=>"btn  btn-outline-secondary add-to-cart"%>
                    <% end %>
                  <% end %>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
