<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Pr name</th>
      <th>Price for client</th>
      <th>Images</th>
      <th>Description</th>
      <th>Skun</th>
      <th>Volume</th>
      <th>Alcohol</th>
      <th>Endurance</th>
      <th>Pr category</th>
      <th>Pr sub category</th>
      <th>Pr brand</th>
      <th>Pr country</th>
      <th>Pr color</th>
      <th>Pr sweetness</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.pr_name %></td>
        <td><%= product.price_for_client %></td>
        <td>
          <% product.images.each do |image| %>
            <%= link_to image_tag(image, style:"width:100px; height:130px"), image %>
          <% end %>
        </td>
        <td><%= product.description %></td>
        <td><%= product.SKUN %></td>
        <td><%= product.pr_volume_id %></td>
        <td><%= product.pr_alcohol_id %></td>
        <td><%= product.pr_endurance_id %></td>
        <td><%= product.pr_category_id %></td>
        <td><%= product.pr_sub_category_id %></td>
        <td><%= product.pr_brand_id %></td>
        <td><%= product.pr_country_id %></td>
        <td><%= product.pr_color_id %></td>
        <td><%= product.pr_sweetness_id %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
