<p id="notice"><%= notice %></p>

<p>
  <strong>Pr name:</strong>
  <%= @product.pr_name %>
</p>

<p>
  <strong>Price for client:</strong>
  <%= @product.price_for_client %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Skun:</strong>
  <%= @product.SKUN %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @product.pr_volume_id %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @product.pr_alcohol_id %>
</p>

<p>
  <strong>Endurance:</strong>
  <%= @product.pr_endurance_id %>
</p>

<p>
  <strong>Pr category:</strong>
  <%= @product.pr_category_id %>
</p>

<p>
  <strong>Pr sub category:</strong>
  <%= @product.pr_sub_category_id %>
</p>

<p>
  <strong>Pr brand:</strong>
  <%= @product.pr_brand_id %>
</p>

<p>
  <strong>Pr country:</strong>
  <%= @product.pr_country_id %>
</p>

<p>
  <strong>Pr color:</strong>
  <%= @product.pr_color_id %>
</p>

<p>
  <strong>Pr sweetness:</strong>
  <%= @product.pr_sweetness_id %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
