<p id="notice"><%= notice %></p>

<p>
  <strong>Pr name:</strong>
  <%= @product.pr_name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.SKU %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Price to client:</strong>
  <%= @product.price_to_client %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
