<%= form_with(model: pr_classification) do |form| %>
  <% if pr_classification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pr_classification.errors.count, "error") %> prohibited this pr_classification from being saved:</h2>

      <ul>
        <% pr_classification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :classification %>
    <%= form.text_field :classification %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
